<!DOCTYPE html>
<html>
  <head>
    <title>Will I Like It?</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Will I like this beer?</h1>
    <%= yield %>
  </body>
</html>
